html {
  height: 100%;
}
 
.modal {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.pq-modal_content {
  background-color: white;
  position: absolute;
  top: 5%;
  left: 20%;
  width: 60%;
  height: 60%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
  overflow-y:auto;
}

.mr-modal_content {
  background-color: white;
  position: absolute;
  top: 2%;
  left: 30%;
  width: 40%;
  height: 65%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
  overflow-y:auto;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: cyan;
  cursor: pointer;
}

/* slider css */
input[type=range] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 80%;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 80%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #03a9f4;
  border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}

.sr-only {
  position: absolute;
  clip-path: inset(50%)
}

input[type='range'] {
  grid-column: 1;
  grid-row: 2;
}

.center-screen {
  position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    max-width: 50%;
    max-height: 50%;
}
