html {
  height: 100%;
}

.modal {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal-content {
  background-color: white;
  position: relative;
  top: 15vh;
  left: 25vw;
  width: 50vw;
  height: 42vh;
  padding: 4vh;
  margin-top: 10vh;
  border-radius: 5px;
  border: 2px solid black;
  overflow-y:auto;
}

.pq-modal_content {
  background-color: white;
  position: relative;
  top: 5vh;
  left: 20vw;
  width: 60vw;
  height: 60vh;
  padding: 4vh;
  border-radius: 5px;
  border: 2px solid black;
  overflow-y:auto;
}

.mr-modal_content {
  background-color: white;
  position: absolute;
  top: 2vh;
  left: 30vw;
  width: 40vw;
  height: 60vh;
  padding: 4vh;
  border-radius: 5px;
  border: 2px solid black;
  overflow-y:auto;
}


.mini_pref_modal {
  background-color: white;
  position: absolute;
  top: 10vh;
  left: 25vw;
  width: 50vw;
  height: 40vh;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
  overflow-y:auto;
}

.photo{
  max-width: 30vw;
  max-height:35vh;
}

label{
  display: block; /* add this */
  padding-top: 5px;
}
.close {
  color: Black;
  float: right;
}

.close:hover {
  color: cyan;
  cursor: pointer;
}

/* slider css */
input[type=range] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 80%;
}

.sr-only {
  position: absolute;
  clip-path: inset(50%)
}

input[type='range'] {
  grid-column: 1;
  grid-row: 2;
}

.center-screen {
  position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    max-width: 50%;
    max-height: 50%;
}