.slide-container {
    width: 70%;
    margin: auto;
  }
  

  .center{
    text-align:center;
  }
  
  .each-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    /* max-height: 100%;
    max-width: 100%; */
    aspect-ratio: 16/9;
    align-items: center;
    background-size: contain;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }


  