.center-screen {
    position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin:auto;
      max-width: 50%;
      max-height: 50%;
  }

  .centered {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    width: 100%;
    padding: 10px;
    max-height: 150px;
  }

  .content {
    max-width: 500px;
    margin: auto;
  }

  .center-screen {
    position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin:auto;
      max-width: 50%;
      max-height: 50%;
  }